// PRIMARY COLORS
$primary-text-color: #ffffff;
$seconday-text-color: #635353;
$active-text-color: #FFEDDF;
$background-color: #8C9CD6 ;
$btn-color:#FFD893;
$hover-color:#42538F;
$hero-text-color:#555555
