@use "../../styles/partials/variables" as *;


.header{
    padding: 1rem 1rem;
}
.nav{
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logout ,&__notification{
        color: #555555;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            color:$hover-color;
        }
    }
}