/* Reset margin and padding for all elements */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital@1&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
}