@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/global" as *;

.logIn {
  width: 100%;
  height: 100vh;

  @include tablet {
    position: relative;
    width: 500px;
    height: 100vh;
  }

  @include desktop;

  &__box {
    opacity: 0.5;

    font-size: 13px;
    background-image: url("../../assets/pattern_pastel_baby.jpg");
    background-size: 3000px 3000px;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    color: $hero-text-color;

    @include tablet;
  }

  &__content {
    font-family: "Itim", cursive;
    padding: 1rem 2rem;
    color: $hero-text-color;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &__header {
    font-size: 2rem;
    font-weight: 600;
  }

  &__subheader {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    width: fit-content;

    &--pink {
      top: 30%;
      left: 0;
      position: absolute;
      background-color: #ffe9f1;
      width: 100%;
      height: 0.7rem;
      z-index: -1;
    }
  }

  &__text {
    line-height: 2;
  }

  &__form {
    position: absolute;
    bottom: 0;
    padding: 3rem 2rem;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: $background-color;
    border-radius: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    height: 50%;

    @include tablet {
      width: 500px;
    }

    @include desktop;
  }

  &__input {
    padding: 0.5rem;
    margin: 4px 0px 16px 0px;
    border: solid 1px $active-text-color;
    border-radius: 10px;

    &:focus {
      outline: none;
      border: 1px solid $btn-color;
    }
  }


  &__label {
    color: $primary-text-color;
    font-size: 12px;
    padding-left: 8px;
  }

  &__btn {
    padding: 0.7rem;
    margin-top: 2rem;
    border: solid 1px $active-text-color;
    border-radius: 62px;
    color: $seconday-text-color;
    background-color: $btn-color;
    font-weight: 600;
    cursor: pointer;
  }

  &__span {
    color: $primary-text-color;
    font-size: 12px;
    text-align: center;
  }

  &__link {
    color: $btn-color;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
  }

  &__message {
    font-size: 12px;
    color: rgb(169, 34, 34);
    text-align: center;
  }
}